* {
    margin: 0;
    padding: 0;
}

#hello {
    display: flex;
    flex-direction: row;
}

#sidebar {
    height: 100%;
    display: inline-flex;
    flex: 0 0 320px;
}

#container {
    display: inline-flex;
    height: 100%;
    width: calc(100% - 320px);
}
