* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Helvetica, sans-serif;
}

#sidebar {
    position: absolute;
    width: 320px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

#logo {
    width: 100%;
    background: #3f51b5;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
}

#logo h1 {
    color: white;
    font-weight: 500;
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 320px);
}

.row {
    width: 100%;
    border-left: #3f51b5 6px solid;
    border-right: #3f51b5 6px solid;
    border-bottom: #3f51b5 6px solid;
    box-sizing: border-box;
    padding: 12px;
    position: relative;
}

.equation, .point {
    min-height: 80px;
    line-height: 44px;
    box-sizing: border-box;
}

.row .delete {
    opacity: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.row:hover .delete, .row:hover .color-picker {
    opacity: 1;
}

.row .color-picker {
    opacity: 0;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
    background: #009688;
    transition: all 0.1s ease;
}

#color-picker {
    background: #fff;
    box-shadow: 0 0 5px gray;
    position: absolute;
    max-width: 172px;
    padding: 4px;
}

#color-picker .color {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 4px;
}

#color-picker .red {
    background: #f44336;
}

#color-picker .pink {
    background: #e91e63;
}

#color-picker .purple {
    background: #9c27b0;
}

#color-picker .deep-purple {
    background: #673ab7;
}

#color-picker .indigo {
    background: #3f51b5;
}

#color-picker .blue {
    background: #2196f3;
}

#color-picker .cyan {
    background: #00bcd4;
}

#color-picker .teal {
    background: #009688;
}

#color-picker .green {
    background: #4caf50;
}

#color-picker .light-green {
    background: #8bc34a;
}

#color-picker .lime {
    background: #cddc39;
}

#color-picker .yellow {
    background: #ffeb3b;
}

#color-picker .amber {
    background: #ffc107;
}

#color-picker .orange {
    background: #ff9800;
}

#color-picker .deep-orange {
    background: #ff5722;
}

#color-picker .brown {
    background: #795548;
}

.mq-editable-field {
    border: none !important;
    box-shadow: none !important;
    width: 80%;
}

#new-row-button {
    background: #3f51b5;
    height: 42px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 0;
    transition: all 0.25s ease;
}

#new-row-button:hover {
    background: #283593;
}

#new-row-button span {
    line-height: 36px;
}

#new-dropdown {
    cursor: pointer;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px gray;
}

.new-dropdown-option {
    padding: 12px;
    transition: all 0.25s ease;
}

.new-dropdown-option:hover {
    background: #ecf0f1;
}

#screenshot {
    background: #3f51b5;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 12px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 32px;
    left: calc(320px + 32px);
    transition: all 0.25s ease;
}

#screenshot:hover {
    background: #5c6bc0;
}

#screenshot img {
    width: 20px;
    height: 20px;
}
